html body {
	background-color:	#fff;
	height:				100%;
	margin:				0;
	padding:			0;
}

.container {
	min-height:			100%;	/*Test*/
	height:				100%;
	/*
	Know why 'overflow: hidden;' bugs out in Firefox
	*/
}

.row {
	overflow: 		hidden;
}

.fixed-tester {
	position: 		fixed;
	top:			0;
	right:			0;
	z-index:		1;
}

	.fixed-tester a {
		padding:		10px;
		border:		1px solid #aaa;
	}

.main-header {
	/*border:			1px solid #000;
	height:			100%; Test*/
	background-color: 	#131c20;
	border-bottom:		5px solid #000;
	margin:				-1.3% 0 0 0;
}
	
	/*
	.main-header__wspace {	Test Class
		height:		50%;	
	}
	*/

	.main-header__logo {
		/*height:		100%;*/
	}

	.main-header__logo img {
		display:	inline-block;
		float:		left;
	}

	.main-header__txt {
		color:			#8b8f8e;
		display:		inline-block;
		font-family: 	"Sports-World", "Droid Serif";
		margin:			50px 0 0 30px;
	}

		.main-header__txt h1, .main-header__txt h3 {
			text-shadow: 	0px -3px 0px #303030;
		}

		.main-header__txt h1 {
			font-size: 		4em;
			font-weight: 	bold;
			margin:			auto 0 0 0;
		}

		.main-header__txt h3 {
			color:		#bbbdba;
			font-size:	2em;
			margin:		0;
		}

	.main-header__nav {
		/*
		position:			absolute;
		bottom:				10%;
		right:				0;
		padding-left:		7%;
		*/
		margin-top:			8%;
		padding-left:		8.2%;
		padding-right: 		0;
	}

		.main-header__nav h5 {
			text-align: 	right;
		}

		/*
		*	a:focus pseudo-class added to ensure that the intended color binds on click instance
		*/
		.main-header__nav li.active a, .main-header__nav li.active a:hover, .main-header__nav li.active a:focus {
			background-color:	#d40000;
		}

		.main-header__nav li a {
			color:				#d40000;
		}
		.main-header__nav li a:hover {
			background-color: 	#ffb8b8;
		}

.panel-group {
	background-color:	#262b33; /*#303741;*/
	margin-bottom:		0;
}

.panel-group .container {
	margin:			auto;
}

.inf-panel, .main-panel, .misc-panel {
	/*border:			1px solid #000;*/
	border-radius:	0;

	/*
	Equal column heights
	Note: PROBLEM with Firefox!
	*/
	margin-bottom: 	-9999px;
	padding-bottom: 9999px;

}

.inf-panel, .misc-panel {
	padding-top:	2%;
}

.inf-panel {
	border-right:	5px solid #000;
	color:			#bebadd;
}

.main-panel {
	background-color:	#ccd4d8; /*#95acb5;*/
	padding-left:			0;
	padding-right: 			0;
	position:				relative;

	/*
	*	CSS work around for animated transitioning between classes of this div
	*/
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

	.main-panel__cnt {
		/*border:			1px solid #000;*/
	}

		.main-panel__cnt .tabs {
			background-color: 	#454b54;
			padding-top:		1%;
		}

		.main-panel__cnt .tabs h3 {
			font-family:	"Michroma";
			font-size:		1.3em;
		}

		.main-panel__cnt .nav-tabs {
			/*border-bottom:		3px solid #262b33;*/
		}

		.main-panel__cnt .tabs .nav-tabs li.active a {
			background-color: 	#ccd4d8;
			/*
			border:				2px solid #ccd4d8;
			margin:				2px 0 0 0;
			*/
		}

			.main-panel__cnt .nav-tabs li a {
				background-color: 	#262b33;
				border-top:			2px solid #1c1f25;
				border-left:		2px solid #1c1f25;
				border-right:		2px solid #1c1f25;
				border-radius:		20px 20px 0 0;
			}

			/**
			*	Problems with hover: Tabs will wrap to the next line in a very unpleasant looking way
			*/
			.main-panel__cnt .nav-tabs li a:hover {
				background-color: 	#3c4047;
				font-weight:		bold;
				line-height: 		20%;
				/*font-size: 		1.5em;*/

			/**
			*	To change the margin overlap on hover, refer to the IDs #home-btn, #school-btn, and #stars-btn at the ID section
			*/
		}

		.main-panel__cnt .wrapper {
			border-top:			3px solid #262b33;
		}

		.main-panel__cnt__vis, .main-panel__cnt__txt {
			color:			#222;
			padding-left:	2%;
			padding-right: 	2%;
		}

		.main-panel__cnt__vis {
			/*border:			1px solid #000;*/
		}

			.main-panel__cnt__vis h1 {
				font-family: 	"Droid Serif";
				font-weight: 	bold;
				margin:			5% auto;
				text-align:		center;
			}

			.main-panel__cnt__vis h1:first-child {
				font-size:		3.5em;
			}

			.main-panel__cnt__vis img {
				display:		block;
				margin:			0 auto;
			}

			/*
			Exclusive class for non-home images located in main-panel__cnt__vis
			*/
			.main-panel__cnt__vis .img-wrap {
				margin:			3%;
			}

			.main-panel__cnt__vis .summary {
				font-family:	"Octin-College";
				font-size: 		1.2em;
				margin:			20px auto;
			}

				.main-panel__cnt__vis .summary table {
					margin:		0 auto;
				}

				.main-panel__cnt__vis .summary table td {
					padding: 	0 20px;
				}

			.main-panel__cnt__vis span {
				font-size: 		0.9em;
				font-weight: 	bold;
			}

		.main-panel__cnt__txt {
			font-family:		"Abel";
			font-size: 			1.2em;	
		}

.misc-panel {
	border-left:	5px solid #000;
	font-family: 	"Abel";
	color:			#f7d0d2;

}

	.misc-panel .misc-panel__wrapper:first-child {
		font-size: 		1.1em;
	}

.main-footer {
	/*border:			1px solid #000;*/
	background-color:	#131c20;
}

#home-btn:hover{

}

#school-btn:hover {
	/*margin:			0 0 0 -5%;*/
}

#stars-btn:hover {
	/*margin:			0 0 0 -10%;*/
}