body {
	background-color:	#fff;
	margin:				0;
	padding:			0;
}

.main-header {
	border:			1px solid #000;
}

	.main-header img {
		display:	inline-block;
		float:		left;
	}

	.main-header__txt {
		display:	inline-block;
		margin:		50px 0 0 30px;
	}

	.main-header__txt h1 {
		font-size: 	3em;
		margin:		auto 0 0 0;
	}

	.main-header__txt h3 {
		font-size:	2em;
		margin:		0;
	}

.inf-panel, .main-panel, .misc-panel {
	border:			1px solid #000;
	border-radius:	0; 
}

.main-panel {

}

	.main-panel__cnt {
		/*border:			1px solid #000;*/
	}

		.main-panel__cnt__vis {
			/*border:			1px solid #000;*/
		}

		.main-panel__cnt__txt {
			
		}

.main-footer {
	border:			1px solid #000;
}